*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (min-width: 480px) {
    body {
    background-color: lightgreen;
    }
}

#welcome-section{
    height: 100vh;
}
#navbar{
    position: fixed;
width: 100%;

}